# Lists in Python

# Multiply all the Numbers of a List

In [12]:
l= [1,2,3,4,5,6,7,8,9,10]
print(len(l))


a = 1

for i in range(9):
    a = a*l[i]
    i = i+1   
    print("the product of a list is",a)

10
the product of a list is 1
the product of a list is 2
the product of a list is 6
the product of a list is 24
the product of a list is 120
the product of a list is 720
the product of a list is 5040
the product of a list is 40320
the product of a list is 362880

In [16]:
n = [1,2,3,4,5,6,7,8,9,10]
def multiply(n):
    total = 1
    for i in range(9):
        total= total* n[i]
        i = i +1
    print (total)

# Creating a List

In [1]:
mylist = ["apple","banana", "Cherry"]
print(mylist)

['apple', 'banana', 'Cherry']

In [2]:
print(type(mylist))

<class 'list'>

# Allow Duplicates

In [3]:
mylist = ["apple","banana", "Cherry" , "apple","banana", "Cherry"]
print(mylist)

['apple', 'banana', 'Cherry', 'apple', 'banana', 'Cherry']

# Data types

In [4]:
list1 = ["apple","banana", "Cherry"  ]
list2 = [2,5,8]
list3 = [ 7,8,8,9,2,5]
list4 = [True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'Cherry']
[2, 5, 8]
[7, 8, 8, 9, 2, 5]
[True, False, True]

# Length of List
a = [12,-8,5,-7,2.3,2,5,3.6,"Students Hello", True,False]
print(a)
print(len(a))

In [7]:
a = [12,-8,5,-7,2.3,2,5,3.6,"Students Hello", True,False]
print(a)
print(len(a))

[12, -8, 5, -7, 2.3, 2, 5, 3.6, 'Students Hello', True, False]
11

# Access Items

In [9]:
thislist = [12,14,45,35,96,67,89,70,5,2,34,56,65,6,5]
print(thislist [1])
print(thislist[8])
print(thislist[-1])
print(thislist[-6])

14
5
5
2

# Slicing of List

In [10]:
thislist = [12,14,45,35,96,67,89,70,5,2,34,56,65,6,5]
print(thislist[0:6])
print(thislist[3:9])
print(thislist[0:12:2])

[12, 14, 45, 35, 96, 67]
[35, 96, 67, 89, 70, 5]
[12, 45, 96, 89, 5, 34]

# Change Items

In [11]:
mylist = ["apple","banana", "Cherry"]
mylist[1] = "Strawberry"
print(mylist)

['apple', 'Strawberry', 'Cherry']

# Change a range of Items

In [12]:
a = [ 12,14,45,35,96,67,89,70,5,2,34,56,65,6,5]
a[2]= " Students" 
print(a)
a[2:4]= ["books", "pen","paper"]
print(a)

[12, 14, ' Students', 35, 96, 67, 89, 70, 5, 2, 34, 56, 65, 6, 5]
[12, 14, 'books', 'pen', 'paper', 96, 67, 89, 70, 5, 2, 34, 56, 65, 6, 5]

In [15]:
a = [ 12,14,45,35,96,67,89,70,5,2,34,56,65,6,5]
a.append(-9)
print(a)

[12, 14, 45, 35, 96, 67, 89, 70, 5, 2, 34, 56, 65, 6, 5, -9]

In [16]:
m = [24,45,65,78,86,"pen", "paper",56,2.3]
m.remove(78)
print(m)

[24, 45, 65, 86, 'pen', 'paper', 56, 2.3]

In [17]:
m = ["apple", "student","hello"]
m.remove("student")
print(m)

['apple', 'hello']

# Reversing

In [19]:
mylist = [1,2,3,4,5,"python", "data"]
mylist.reverse()
print(mylist)

['data', 'python', 5, 4, 3, 2, 1]

# Sum of all the numbers of a List

In [20]:
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(len(l))

13

In [23]:
a = 0
for i in range(13):
    a = a + l[i]
    i = i + 1
    print("the sum of list l is  " ,  a)

the sum of list l is   14
the sum of list l is   29
the sum of list l is   41
the sum of list l is   119
the sum of list l is   110
the sum of list l is   133
the sum of list l is   125
the sum of list l is   177
the sum of list l is   251
the sum of list l is   340
the sum of list l is   365
the sum of list l is   467
the sum of list l is   475

# Multiply all numbers of a List

In [24]:
a = [1,2,3,4,5,6,7,8,9,10]
print(len(a))

10

In [31]:
a = [1,2,3,4,5,6,7,8,9,10]
p = 1
for i in range(10):
    p = p*a[i]
    i = i+1
    print( "the  product of list a is " , p)

the  product of list a is  1
the  product of list a is  2
the  product of list a is  6
the  product of list a is  24
the  product of list a is  120
the  product of list a is  720
the  product of list a is  5040
the  product of list a is  40320
the  product of list a is  362880
the  product of list a is  3628800