# DAY 09 in Python

# Tuples in Python

# Creating a tuple

In [1]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
print(type(my_tuple))

<class 'tuple'>

# Mixed Data types

In [3]:
my_tuple = (1,2,"hello", 3.2, 4+5j)
print(my_tuple)

(1, 2, 'hello', 3.2, (4+5j))

# Empty tuple

In [4]:
my_tuple = ()
print(my_tuple)

()

# Nested Tuples

In [5]:
a = ("data", [1,2,3],(4,5,6))
print(a)

('data', [1, 2, 3], (4, 5, 6))

# Creating Tuple with only one Item

In [6]:
var1 = ("hello")
print (var1)
print(type(var1))

hello
<class 'str'>

In [7]:
var2 = ("hello",)
print (var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructor

In [8]:
a = tuple(("a", "b", "c"))
print(a)

('a', 'b', 'c')

In [9]:
print(type(a))

<class 'tuple'>

# Indexing

In [10]:
a = ( 47,48,45,46,48,49,4,8, "data", "python ")
print(a[5]) 
print(a[-1])

49
python

# Slicing

In [11]:
a = (14,15,17,821,5,852,8,292,8,2,4,5.3,-9,-10,96)
print(a[0:6])
print(a[ 0:13])
print(a[::2])

(14, 15, 17, 821, 5, 852)
(14, 15, 17, 821, 5, 852, 8, 292, 8, 2, 4, 5.3, -9)
(14, 17, 5, 8, 8, 4, -9, 96)

# Reverse

In [12]:
a = (14,15,17,821,5,852,8,292,8,2,4,5.3,-9,-10,96)
print(a[::-1])

(96, -10, -9, 5.3, 4, 2, 8, 292, 8, 852, 5, 821, 17, 15, 14)

In [45]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print (T[3:])
print (T[:4])
print (T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

# Duplicates

In [47]:
t = (1,2,3,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

# Conversion

In [48]:
a = (25,26,27,28,29)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [49]:
y.remove(26)
a = tuple(y)
print(a)

(25, 27, 28, 29, 30)

# Delete

In [50]:
a = (1,2,3,4,5,6,7,8,9,10)
del a
print(a)

NameError: name 'a' is not defined

# Loop

In [53]:
thistuple = ( "a", "b", " c")
for x in thistuple:
    print(x)

a
b
 c

# Join two tuples

In [54]:
tuple1 = ( "a", "b", " c")
tuple2 = ( 1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', ' c', 1, 2, 3)

# Multiply

In [55]:
a = ("apple" , "Data" , "Python")
b = a * 2
print(b)

('apple', 'Data', 'Python', 'apple', 'Data', 'Python')

In [1]:
t = (1,2,3,4,5,6,7,8)
print(2*t)
print(t+t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# Write a program to take 5 inputs from the users and store it in a tuple where T=()empty tuple

In [7]:
T=()    
i = 1
while i<=5:
    num = int(input("enter the values please    "  ))
    T=T+(num,)
    i=i+1
    print(T)

enter the values please    10
(10,)
enter the values please    20
(10, 20)
enter the values please    30
(10, 20, 30)
enter the values please    40
(10, 20, 30, 40)
enter the values please    50
(10, 20, 30, 40, 50)